<template>
  <TopNavigation />
  <NavigationVue />
  <div class="bg-gray-200" >
    <div class="text-3xl ml-12">Who Are We ?</div>
    <div class="ml-12">**********************************</div>
    <div class="ml-12 text-2xl mt-5">
      Abay Stock market  works to create a streamlined market system by
      delivering important information to buyers and sellers so that modern and
      professional transactions can take place. When investors who have invested
      in stocks want to easily convert their wealth into money, it serves as a
      market place to sell at the current market price.
    </div>
    <div class="ml-12 text-2xl mt-5">
      Abay Stock Market works to make the stock market an investment option in
      Ethiopia by providing investors with reliable market information for
      smooth trading. It serves as a market place for investors who have
      invested their money in stocks and want to easily convert their wealth
      into money.
    </div>

    <div class="ml-12 text-2xl mt-5">Call Us</div>
    <div class="ml-12">
      <div class="ml-12">
        <p class="text-lg">phone-1 0911248597</p>
       <p class="text-lg">phone-2 0940599595</p>
      </div>
    </div>

    <div class="ml-12 text-2xl mt-5"> Our Address</div>
    <div class="ml-12">
        <div class="ml-12">
            <p class="text-lg">Addis Ababa,Megenagna Derartu Building</p>
             <p class="text-lg">2nd Floor Office No. 226</p>
        </div>
    </div>
   
  </div>
  <FooterSection />
</template>

<script setup>
import NavigationVue from "../components/NavigationVue.vue";
import FooterSection from "../components/structure/FooterSection.vue";
import SocialMediaLinks from "../components/structure/SocialMediaLinks.vue";
import TopNavigation from "../components/structure/TopNavigation.vue";
</script>

<style scoped></style>
